body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    margin-top: 1em;
    padding-top: 1em;
    color: #555;
    text-align: center;
    border-style: solid;
    background-color: bisque;
  }
  h2 {
    color: #333;
  }
  body {
    line-height: 1.5;
    padding: 4em 1em;
  }
  
  h2 {
    margin-top: 1em;
    padding-top: 1em;
  }